* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

canvas {
    background-color: #111;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    padding: 40px;
    border: 1px solid #fff;
    border-radius: 5%;
    background-color: #000;
}
.menu.initial {
    display: flex;
}
.menu.game-over {
    display: none;
}
.menu.initial h1 {
    color: green;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.menu.initial h4 {
    text-align: center;
    margin-top: 20px;
}
.score {
    display: none;
    position: absolute;
    top: 40px;
    font-size: 40px;
}
.final-score {
    font-size: 20px;
    margin: 10px 0 10px 0;
    color: green;
}
.btn {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    border: 1px solid green;
}


.config {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #494949;
    margin-top: 10px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.buttons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
}
.buttons div {
    cursor: pointer;
}
.audio {
    cursor: pointer;
    margin-top: 10px;
    width: 20px;
}
.off {
    display: none;
}